<h2>Список сокращённых ссылок</h2>
<table class="table">
    <thead>
        <tr>
            <th>Длинный URL</th>
            <th>Сокращенный URL</th>
            <th>Дата создания</th>
            <th>Количество переходов</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.LongUrl</td>
                <td>@item.ShortUrl</td>
                <td>@item.CreatedDate.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@item.JumpsCount</td>
            </tr>
        }
    </tbody>
</table>
